%h1 Listado de países
%table
  %thead
    %tr
      %td
        Desde
      %td
        Hasta
      %td
        País
      %td
        Video
  %tbody
    - @countries.each do |country|
      %tr
        %td
          = country[:ip_from]
        %td
          = country[:ip_to]
        %td
          = country[:country]
        %td
          %img{:src => country[:video_thumbnail]}
        %td
          %a{:href => "/admin/countries/#{country[:id]}"} Editar
        %td
          %a{:href => "/admin/countries/#{country[:id]}/delete"} Borrar

%a{:href => "/admin/countries/add"} Agregar
%a{:href => "/"} Frontend
