%h1 Listado de ips
%table
  %thead
    %tr
      %td
        Desde
      %td
        Hasta
      %td
        País
      %td
        Video
  %tbody
    - @ips.each do |ip|
      %tr
        %td
          = ip[:ip_from]
        %td
          = ip[:ip_to]
        %td
          = ip[:country]
        %td
          = ip[:video]
        %td
          %a{:href => "/admin/ips/#{ip[:id]}"} Editar

%a{:href => "/admin/ips/add"} Agregar
%a{:href => "/"} Frontend
